---
import AllRights from '@atoms/AllRights.astro'
import FooterDetails from '@organisms/FooterDetails.astro'
import FooterLinks from '@organisms/FooterLinks.astro'
import FooterAbout from '@organisms/FooterAbout.astro'
import FooterContact from '@organisms/FooterContact.astro'
import FooterWrapper from '@molecules/FooterWrapper.astro'
---

<footer class='bg-bb-secondary-white'>
	<div class='flex flex-row flex-wrap lg:justify-between containerXPadding py-60'>
		<FooterWrapper className='mb-60 lg:mb-0 lg:order-2 w-[50%] lg:w-fit capitalize'>
			<FooterLinks />
		</FooterWrapper>
		<FooterWrapper className='lg:order-3 w-[50%] lg:w-fit'>
			<FooterAbout />
		</FooterWrapper>
		<FooterWrapper className='mb-60 lg:mb-0 lg:order-4 w-[100%] lg:w-[25%]'>
			<FooterContact />
		</FooterWrapper>
		<FooterWrapper className='lg:order-1 w-[100%] lg:w-[35%]'>
			<FooterDetails />
		</FooterWrapper>
	</div>
	<div class='border-b-[1.2px] border-bb-border' />
	<div class='text-center text-16 py-30'>
		<AllRights />
	</div>
</footer>
