---
import FooterHeading from "@atoms/FooterHeading.astro";
import {base} from "@content/info";
---

<FooterHeading name="Contact"/>
<p class="text-bb-quaternary-black text-16">{base.address}</p>
<p class="font-[900]">{base.mail}</p>